/* Element Selectors */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
/* Class Selectors */
.header {
    background-color: #2ba47e;
    color: white;
    padding: 1rem;
    border: 0;  
    width: 100%;     
}
/* Descendant Selectors */
.nav-list li {
    display: inline;
    margin-right: 1rem;
}
/* Pseudo-class Selectors */
.nav-list a:hover {
    color: #ffd700;
}

/* Box Model Styles*/
#events {
    background-color: rgba(165, 42, 42, 0.386);
}
.event-image {
    img {
        max-width: 100%;
        height: auto;
      }
}
.event-info {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}
.skill-box {
    margin: 10px;
    padding: 15px 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
}


/* Footer Selectors */
footer {     
    background: #2ba47e;     
    color: #fff;     
    text-align: center;     
    padding: 1rem;         
    bottom: 0;     
    width: 100%; 
}